@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'inter', 'inter Fallback', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* Place `[` and `]` around footnote references. */
  [data-footnote-ref]::before {
    content: '[';
  }

  [data-footnote-ref]::after {
    content: ']';
  }
}


@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  #footer {
    a {
      @apply text-slate-400 hover:text-slate-300 visited:text-slate-500
    }
  }

  .prose-base {
    ul {
      list-style: disc;
      padding: 0 0 0 calc(var(--spacing) * 4); 
    }
    ol {
      list-style: decimal;
      padding: 0 0 0 calc(var(--spacing) * 4);
    }

    li {
      margin: calc(var(--spacing) * 1);
    }

    table {
      display: block;
      overflow-x: auto;
      border-width: 1px;
      border-color: var(--color-gray-500);
    }
    
    thead {
      background-color: var(--color-gray-800);
    }

    /* Force uniform spacing on smaller tables */
    tr>*:nth-last-child(3) ~ * { width:50% }
    tr>*:nth-last-child(4) ~ * { width:33.33% } 
    tr>*:nth-last-child(5) ~ * { width:25% }
    tr>*:nth-last-child(6) ~ * { width:20% }

    th, td {
      min-width: calc(var(--spacing) * 32);
      text-align: left;
      vertical-align: top;
      border-width: 1px 0px;
      border-color: var(--color-gray-500);
      padding: calc(var(--spacing) * 3);
    }

    a {
      @apply underline text-slate-400 hover:text-slate-300 visited:text-slate-500
    }

    blockquote {
      border-left-width: 4px;
      border-left-color: var(--color-slate-500);
      margin: calc(var(--spacing) * 2) 0;
    }
    img {
      margin: calc(var(--spacing) * 2) 0;
    }
    sup {
      font-size: var(--text-xs);
      vertical-align: super;
      line-height: 0;
      margin: calc(var(--spacing) * 4) 0;
      a {
        @apply no-underline
      }
    }
    p {
      margin-top: 0;
      margin-bottom: calc(var(--spacing) * 2);
    }
    /* Add a margin to the top of headings to account for the fixed header. */
    h1, h2, h3, h4, h5, h6, a {
      scroll-margin-top: calc(var(--spacing) * 16);
      margin: calc(var(--spacing) * 7) 0;
    }
  }

  /* Style the footnotes section. */
  .footnotes {
    font-size: var(--text-xs);
    color: var(--color-slate-700);

    ol{    
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }

    li {
      padding:0px
    }

  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}
