@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-mono: 'Fira Code', monospace;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* Place `[` and `]` around footnote references. */
  [data-footnote-ref]::before {
    content: '[';
  }

  [data-footnote-ref]::after {
    content: ']';
  }
}


@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


  .prose-sm {
    ul {
      list-style: disc;
      padding: 0 0 0 calc(var(--spacing) * 4);
    }
    ol {
      list-style: decimal;
      padding: 0 0 0 calc(var(--spacing) * 4);
    }

    table {
      border-width: 1px;
      border-color: var(--color-gray-500);
    }

    th, td {
      vertical-align: center;
      text-align: left;
      border-width: 1px;
      border-color: var(--color-gray-500);
      padding: calc(var(--spacing) * 1);
    }

    a {
      @apply underline text-slate-400 hover:text-slate-300 visited:text-slate-500
   }
  }

  /* Style the footnotes section. */
  .footnotes {
    font-size: var(--text-sm);
    color: var(--color-slate-700);

    ol{    
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }

    li {
      padding:0px
    }

  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}
